.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.logoTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.titleContact {
  color: white;
  margin-top: 10px;
}

.users {
  width: 200px;
  height: 200px;
  background-color: beige;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.contactProfile {
  height: 50px;
  width: 50px;
}
